<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-base}">
<head>
  <title>Error</title>
</head>
<body>
<th:block layout:fragment="content">
  <p><strong>Reset your password</strong></p>
  <form th:action="@{/forgot}" method="post">
    <label for="username">username: </label><input type="text" name="username" id="username">
    <input type="submit" value="Send reset email">
  </form>
</th:block>
</body>
</html>