<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <th:block th:if="${_csrf}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  </th:block>
  <title>Layout page</title>
  <link rel="stylesheet" href="../static/css/app.css" th:href="@{/css/app.css}">
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" class="wrapper">
  <thead>
  <tr>
    <td>
      <table class="pagetop">
        <thead>
        <tr>
          <td class="top-logo"><a href="/about"><strong>Imagine</strong></a></td>
          <td class="top-nav">
            <nav>
              <a href="/post">news</a>
              <span> | </span>
              <a href="/comment">comments</a>
              <span th:if="${isLoggedIn}"> | </span>
              <a href="/comment?self=true" th:if="${isLoggedIn}">threads</a>
              <span> | </span>
              <a href="/post/new/editor">submit</a>
            </nav>
          </td>
          <td class="top-status" th:if="${isLoggedIn}">
            <a href="/user/self" th:text="${username}">username</a>
            <span> | </span>
            <form th:action="@{/logout}" method="post" id="logoutForm" style="display: inline">
              <a href="#" onclick="document.forms['logoutForm'].submit()">logout</a>
            </form>
          </td>
          <td class="top-status" th:unless="${isLoggedIn}">
            <a href="/login">login</a>
          </td>
        </tr>
        </thead>
      </table>
    </td>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td class="pagebottom">Made in China, with <span style="color: #FF0000">♥</span></td>
  </tr>
  </tfoot>
  <tbody>
  <tr>
    <td>
      <th:block layout:fragment="content"></th:block>
    </td>
  </tr>
  </tbody>
</table>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>