<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-base}">
<head>
  <title>Login</title>
</head>
<body>
<th:block layout:fragment="content">
  <table>
    <form th:action="@{/login}" method="post">
      <tr>
        <td colspan="2"><strong>Login</strong></td>
      </tr>
      <tr>
        <td><label for="login-username">username:</label></td>
        <td><input type="text" name="username" id="login-username"></td>
      </tr>
      <tr>
        <td><label for="login-password">password:</label></td>
        <td><input type="password" name="password" id="login-password"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="login"></td>
      </tr>
    </form>
    <tr>
      <td colspan="2"><a href="/forgot" class="text-underline">Forgot your password?</a></td>
    </tr>
    <form th:action="@{/user}" method="post">
      <tr>
        <td colspan="2"><strong>Create Account</strong></td>
      </tr>
      <tr>
        <td><label for="join-username">username:</label></td>
        <td><input type="text" name="username" id="join-username"></td>
      </tr>
      <tr>
        <td><label for="join-password">password:</label></td>
        <td><input type="password" name="password" id="join-password"></td>
      </tr>
      <tr>
        <td> <label for="join-repeat-password">type again:</label></td>
        <td><input type="password" name="passwordRepeated" id="join-repeat-password"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="create account"></td>
      </tr>
    </form>
  </table>
  <p th:if="${error}"><strong>The email or password you have entered is invalid, try again.</strong></p>
</th:block>
</body>
</html>