<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-main}">
<head>
  <title>Admin</title>
</head>
<body>
<th:block layout:fragment="content">
  <table>
    <tbody>
    <form th:action="@{/resetpw}" method="post">
      <tr>
        <td><label for="password">Rest Password:</label></td>
        <td><input type="password" name="password" id="password"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Reset"></td>
      </tr>
    </form>
    </tbody>
  </table>
</th:block>
</body>
</html>